* {
    background-color: #f1c8a5;
    align-items: center;
    margin: auto;
}

#title{
    font-family: 'Rampart One', cursive;
    font-size: 100px;
    font-weight: bolder;
    color: #a83f33;
    justify-content: center;
    margin: auto;
}

#link {
    font-family: 'Rampart One', cursive;
    font-size: xx-large;
    margin: auto;
}